* text=auto

*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ts text eol=lf
*.mts text eol=lf
*.mjs text eol=lf

package-lock.json linguist-generated=false
dist/** linguist-generated=true
